@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/App/**/*';
@source '../../../../resources/views/filament/app/**/*';
@source '../../../../resources/views/filament/**/*.blade.php';